# ─── Aptos Module ───
NEXT_PUBLIC_MODULE_ADDRESS=0x_YOUR_DEPLOYED_MODULE_ADDRESS

# ─── Aptos Fullnode ───
NEXT_PUBLIC_APTOS_NODE_URL=https://fullnode.testnet.aptoslabs.com/v1

# ─── Pinata (IPFS) ───
PINATA_JWT=your_pinata_jwt_here
